
<section class="cta-section text-center py-5 theme-bg-dark position-relative">
    <div class="theme-bg-shapes-right"></div>
    <div class="theme-bg-shapes-left"></div>
    <div class="container">
        <h3 class="mb-2 text-white mb-3">SSH MITM Proxy server is open source</h3>
        <div class="section-intro text-white mb-3 single-col-max mx-auto">
            and developed by the community. Be a part of this community and...
        </div>
        <div class="pt-3 text-center">
            <a class="btn btn-light" href="https://github.com/ssh-mitm/ssh-mitm">contribute to SSH-MITM<i class="fab fa-github ml-2"></i></a>
        </div>
    </div>
</section><!--//cta-section-->


<footer class="footer">
    <div class="container">
        <hr>
    </div>
    <div class="footer-bottom text-center pb-5">
        <ul class="social-list list-unstyled pt-4 mb-0">
            {% include social.html %}
        </ul>
        <small class="copyright">
        &#169; Copyright 2021, Manfred Kaiser
        </small>
    </div>
</footer>


    <!-- Javascript -->
    <script src="https://www.ssh-mitm.at/assets/plugins/jquery-3.4.1.min.js"></script>
    <script src="https://www.ssh-mitm.at/assets/plugins/popper.min.js"></script>
    <script src="https://www.ssh-mitm.at/assets/plugins/bootstrap/js/bootstrap.min.js"></script>


    <!-- Page Specific JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/highlight.min.js"></script>
    <script src="https://www.ssh-mitm.at/assets/js/highlight-custom.js"></script>
    <script src="https://www.ssh-mitm.at/assets/plugins/typewriterjs/dist/core.js"></script>
    <script src="https://www.ssh-mitm.at/assets/js/typewriter-custom.js"></script>
    <script src="https://www.ssh-mitm.at/assets/plugins/tiny-slider/min/tiny-slider.js"></script>
	<script src="https://www.ssh-mitm.at/assets/js/tinyslider-custom.js"></script>
