<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

<!-- Meta -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="ssh mitm server for security audits supporting public key authentication, session hijacking and file manipulation">
<meta name="author" content="Manfred Kaiser">
<link rel="shortcut icon" href="favicon.ico">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap" rel="stylesheet">

    <!-- FontAwesome JS-->
    <script defer src="https://www.ssh-mitm.at/assets/fontawesome/js/all.min.js"></script>

    <!-- Plugins CSS -->
    <link rel="stylesheet" href="https://www.ssh-mitm.at/assets/plugins/tiny-slider/tiny-slider.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.2/styles/atom-one-dark.min.css">

    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="https://www.ssh-mitm.at/assets/css/theme.css">
